@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
    background-color: black;
    color: #fff;
    border-top-right-radius: 30px;
}
h2 {
    font-size: 30px;
    font-weight: 500;
}
button {
    padding: 10px;
    border-radius: 6px;
    margin-right: 20px;
}
.btn-cancel,
.btn-add {
    background-color: #e9e9e9;
}

.btn-safe {
    background-color: #00803b;
    color: #fff;
}
.btn-delete-task {
    padding: 4px 8px;
    margin-left: 8px;
    background-color: gold;
}
.btn-add-task {
    background-color: #03a9f4;
}
input,
textarea {
    background-color: #f2f2f2;
    border-radius: 4px;
    height: 43px;
    min-width: 350px;
    padding: 0 5px;
    border: black solid 1px;
}
textarea {
    height: 90px;
}
img {
    width: auto;
    height: 100px;
    margin: 0 auto;
}
.btn-project-list {
    margin-top: 12px;
}
.btn-project-list:hover {
    color: #aaaaaa;
    background-color: rgb(54, 54, 54);
}
.tasks input {
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: #8cd0f9;
}
.tasks h2 {
    font-size: 24px;
}
.tasks-add-area {
    padding: 20px;
    background-color: #05aaf48f;
    border-radius: 11px;
}
.tasks-list div {
    border-bottom: 1px solid black;
    padding: 8px 0;
}
.project-date {
    color: gray;
    font-size: 14px;
}
